<table class="advanced-select-tooltip-table">
  <thead>
    <tr>
      <th>Code &amp; Name</th>
      <th>Type</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody data-advanced-select-tooltip-list>
    <% selected_options.each do |option| %>
      <tr>
        <td><%= option.fetch(:display_label) %></td>
        <td><%= option.fetch(:value) %></td>
        <td><%= option.dig(:test, :name) %></td>
      </tr>
    <% end %>
  </tbody>
  <template data-advanced-select-tooltip-template>
    <tr>
      <td data-advanced-select-tooltip-field="display_label"></td>
      <td data-advanced-select-tooltip-field="value"></td>
      <td data-advanced-select-tooltip-field="test.name"></td>
    </tr>
  </template>
</table>
