<span class="ui-advanced-select-option-content">
  <span><%= advanced_select_option_label(option) %></span>
  <% if advanced_select_option_description(option).present? %>
    <span class="ui-advanced-select-option-description"><%= advanced_select_option_description(option) %></span>
  <% end %>
</span>
